spring:
  application:
    name: gamebox-backend

  datasource:
    url: jdbc:postgresql://localhost:5432/gamebox
    username: gamebox
    password: gamebox
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration

server:
  port: 8080


